<h1>Edit Actor Form</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="/actors/<%= @actor.id %>" method="post">
      <input type="hidden" name="_method" value="patch" >
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      Actor name: <input type="text" name="name" value="<%= @actor.name %>">
      <br>
      Gender: <input type="radio" name="gender" value="m" <% if @actor.gender === "m"%> checked="checked" <% end %>> Male 
              <input type="radio" name="gender" value="f" <% if @actor.gender === "f" %> checked="checked" <% end %>> Female
      <br><br>
      <input type="submit" value="Update Now" class="btn btn-sm btn-primary">
   </form>
 </div>
</div>