<h1>Actors</h1>
<%= link_to "Enter New Actor", "/actors/new", class: "btn btn-sm btn-primary" %>

<% @actors.each do |actor| %>
  <hr>
  <br>
  <%= link_to "Show", "actors/#{actor.id}", class: "btn btn-sm btn-info pull-right" %>
  <%= link_to "Edit", "actors/#{actor.id}/edit", class: "btn btn-sm btn-success pull-right" %>
  <em>Name: <%= actor.name %></em>
  <br>
  Gender: <%= actor.gender %>
  <br>
  Zodiac: <%= actor.zodiac %>
<% end %>