<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="/actors/create" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      Actor: <input type="text" name="name" value="">
      <br>
      Gender: <input type="radio" name="gender" value="m"> Male 
              <input type="radio" name="gender" value="f"> Female
      <br><br>
      Zodiac: <input type="text" name="zodiac" value="">
      <input type="submit" value="Create Now" class="btn btn-sm btn-primary">
   </form>
 </div>
</div>