<%= params.to_hash.inspect %>
<hr>
You typed: 
<br>
Title: <%= params[:movie][:title] %>
<br>
Genre: <%= params[:movie][:genre] %>
<br>
Year: <%= params[:movie][:year_released] %>
<br>
URL: <%= params[:movie][:info_url] %>
<h1>Thanks for creating the new movie <%= @movie.title %></h1>
Go back to the <a href="/movies">main movies</a> page.