<% 'a'.upto('z') do |letter| %>
  <a href="movies?start=<%= letter %>"><%= letter %></a> |
<% end %>

<h1>Movies</h1>

<form method="get" action="<%= movies_path %>">
  <input type="text" name="query" value="<%= params[:query] %>">
  <input type="submit" value="Find Matching Movies">
</form>
<em>there are <%= @movies.count %> movies in the database</em>
<br>
<%= link_to "Enter New Movie", "/movies/new", class: "btn btn-sm btn-primary" %>

<% @movies.each do |movie| %>
  <hr>
  <%= link_to "Show", "movies/#{movie.id}", class: "btn btn-sm btn-info pull-right" %>

  <%= link_to "Edit", "movies/#{movie.id}/edit", class: "btn btn-sm btn-success pull-right" %>
  <strong><%= link_to movie.title, "movies/#{movie.id}" %></strong>
  <br>
  <em><%= movie.genre %></em>
  <br>
  created: <%= movie.created_at %>
  <br>
<% end %>