<h1 style="text-align:left;"><%= @movie.title %></h1>
Genre: <em><%= @movie.genre %></em>
<hr>
<% if @movie.year_released.present? %>
Year Released: <em><%= @movie.year_released %></em>
<hr>
<% end %>
<% if @movie.info_url.present? %>
Info URL: <em><%= link_to @movie.info_url, @movie.info_url, target: '_blank' %></em>
<hr>
<% end %>
<%= link_to "Back to listings", movies_path, class: "btn btn-sm btn-info" %>
<br>
<%= link_to "Delete", "/movies/#{@movie.id}", method: :delete, class: "btn btn-sm btn-danger" %>

