<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= @user.name %>,<br> <%= @user.email %>,<br> <%= @user.created_at %>,<br> <%= @user.updated_at %>,<br> <%= Time.now %>

      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
