<h1>Edit Contact Form</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="/rolodex/<%= @rolodex.id %>" method="post">
      <input type="hidden" name="_method" value="patch" >
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      First Name: <input type="text" name="first_name" value="<%= @rolodex.first_name %>">
      <br><br>
      Last Name: <input type="text" name="last_name" value="<%= @rolodex.last_name %>">
      <br><br>
      Phone Number: <input type="text" name="phone_number" value="<%= @rolodex.phone_number %>">
      <br><br>
      Email Address: <input type="text" name="email" value="<%= @rolodex.email %>">
      <br><br>
      <input type="submit" value="Update Now" class="btn btn-sm btn-primary">
   </form>
 </div>
</div>