<h1>Contacts</h1>
<br>
<form method="get" action="<%= rolodex_path %>">
  <input type="text" name="query" value="<%= params[:query] %>">
  <input type="submit" value="Find Matching Contacts">
</form>
<br>
<%= link_to "Enter New Contact", "/rolodex/new", class: "btn btn-sm btn-primary" %>

<% @rolodexes.each do |rolodex| %>
  <hr>
  <br>
  <%= link_to "Show", "rolodex/#{rolodex.id}", class: "btn btn-sm btn-info pull-right" %>
  <%= link_to "Edit", "rolodex/#{rolodex.id}/edit", class: "btn btn-sm btn-success pull-right" %>
  First Name: <%= rolodex.first_name %>
  <br>
  Last Name: <%= rolodex.last_name %>
  <br>
<% end %>