<h1>New Movie Form</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
	<form action="/rolodex/create" method="post">
	  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  	First Name: <input type="text" name="first_name" value="">
  	<br>
  	Last Name: <input type="text" name="last_name" value="">
  	<br>
  	Phone Number: <input type="text" name="phone_number" value="">
  	<br>
  	Email Address: <input type="text" name="email" value="">
  	<br>

  	<br><br>
  	<input type="submit" value="Create Now" class="btn btn-sm btn-primary">
   </form>
 </div>
</div>