<h1 style="text-align:left;"><%= @rolodex.first_name %></h1>
<h1 style="text-align:left;"><%= @rolodex.last_name %></h1>
<br>
<h3><%= @rolodex.phone_number %> </h3>
<br>
<h3><%= @rolodex.email %></h3>
<%= link_to "Delete", "/rolodex/#{@rolodex.id}", method: :delete, class: "btn btn-sm btn-danger" %>